.reserveCar form {
  padding-bottom: 15px;
}

.reserveCar form textarea {
  height: 300px;
  font-size: 24px;
}
.reserveCarStep {
  margin: 20px auto;
  width: 50%;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}
